# ==============================================================================
# Variables de entorno y configuración para P2PT Standalone Server
# ==============================================================================

# Subdominio e integración con DuckDNS (opcional)
DUCKDNS_DOMAIN=""
DUCKDNS_TOKEN=""

# Puertos de red
PORT="9000"
TURN_PORT="3478"

# Auto-apertura de puertos en router mediante UPnP (true | false)
ENABLE_UPNP="true"

# Credenciales TURN por defecto
TURN_USER="p2pt"
TURN_PASSWORD="p2ptsecret"
TURN_STATIC_AUTH_SECRET="p2pt-static-auth-secret"

# URL base de la aplicación Web de P2PT
APP_URL="https://estoyqueloleo-max.github.io/p2pt"
