# ==============================================================================
# Plantilla de Configuración de Red del Payload (Copiar a wifi.env)
# ==============================================================================

# Credenciales WiFi
WIFI_SSID="TU_SSID_WIFI"
WIFI_PASS="TU_PASSWORD_WIFI"

# Direccionamiento IP
STATIC_IP="192.168.1.50"
STATIC_NETMASK="255.255.255.0"
STATIC_GATEWAY="192.168.1.1"
STATIC_DNS="1.1.1.1 8.8.8.8"
HOSTNAME="p2pt-box"
